<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<div class="container mt--7 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent ">


          <h2>Course Study Material Upload</h2>

        </div>
        <div class="card-body ">
          <form (ngSubmit)="submit(infoForm)" #infoForm="ngForm" class="p-3 mt-3">
            <div class="row mb-3">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="" for="input-country">Course Type</label>

                  <div class="">
                    <select required ngModel name="course_type" class="form-select form-control"
                      placeholder="Course Type" aria-label="Default select example" (change)="getCourseList($event)">
                      <!-- <option >Course type</option> -->
                      <option value="" disabled selected hidden>
                        Select Course Type
                      </option>
                      <option value="Special Training Program">Special Training Program</option>
                      <option value="Training program for Govt Organisation">
                        Training program for Govt Organisation
                      </option>
                      <option value="Internship Program">Internship Program </option>
                      <option value="Regular Courses">Regular Courses</option>
                      <option value="E learning Courses">E learning Courses</option>
                    </select>

                  </div>
                  <!-- <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="width Ex-10%"> -->
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group align-items-center">
                  <label class="" for="input-country">Course Name</label>
                  <!-- <input ngModel  type="text" > -->
                  <select class="form-control" placeholder="Course Name" title="--Select Course --" ngModel
                    name="course_name">
                    <option value="" disabled selected> --Select Course --</option>
                    <option *ngFor="let item of courseList" [value]="item.course_name">{{item.course_name}},Course Code:
                      {{item.course_code}}</option>
                  </select>

                  <small id="Name_code" class="form-text text-muted">Course Name</small>
                </div>
              </div>

            </div>
            <div class="row mb-3">
              <div class="col-lg-6">
                <div class="form-group align-items-center">

                  <label class="" for="input-country">Upload Type</label>
                  <select class="form-control" title="--Select Material Upload Type --" [(ngModel)]="fileType"
                    name="fileType" (change)="getInput($event)">
                    <option value="" disabled selected> --Select Material Upload Type --</option>
                    <option value="pdf"> PDF File </option>
                    <option value="video"> Video </option>
                    <option value="ytLink">Youtube Link </option>
                  </select>
                  <small id="Upload_type" class="form-text text-muted">Upload Type</small>
                </div>
              </div>

            </div>
            <div class="" *ngIf="fileInfo">
              <div *ngIf="inputInfo ">
                <h3>Youtube Link</h3>
                <div class="row mt-2">
                  <div class="col-6">
                    <div class="form-group align-items-center">
                      <input ngModel name="yt_link" type="text" class="form-control"
                        placeholder="Ex:- https://www.youtube.com/embed/....">
                      <small id="yt_link_code" class="form-text text-muted">Paste your youtube embed link here</small>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group align-items-center">
                      <input ngModel name="title" type="text" class="form-control" placeholder=" YouTube Video Title">
                      <small id="Video_code" class="form-text text-muted">YouTube Video Title</small>
                    </div>
                  </div>


                  <!-- <div class="col-lg-6">
      <div class="form-group align-items-center">
        <textarea ngModel name="discription" rows="4" class="form-control form-control-alternative"
          placeholder="Brief Course  Discription"></textarea>
      </div>
    </div> -->

                </div>
              </div>
              <div *ngIf="!inputInfo">

                <h3>File Upload</h3>
                <div class="row mt-2">
                  <div class="col-6">
                    <div class="form-group align-items-center">
                      <input ngModel name="pdf_link" type="file" class="form-control" placeholder="Upload PDF File "
                        (change)="uploadpdf($event)">
                      <small id="Pdf_link_code" class="form-text text-muted">Upload File</small>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group align-items-center">
                      <input ngModel name="pdf_title" type="text" class="form-control" placeholder="File Title">
                      <small id="pdf_code" class="form-text text-muted">File Title</small>
                    </div>
                  </div>


                  <!-- <div class="col-lg-6">
      <div class="form-group align-items-center">
        <textarea ngModel name="discription" rows="4" class="form-control form-control-alternative"
          placeholder="Brief Course  Discription"></textarea>
      </div>
    </div> -->

                </div>
              </div>

            </div>
            <button type="submit" class="btn btn-success mt-3 justify-content-center">
              Create

            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
