<div class="card ">
  <!-- Navbar -->
  <div class="text-center bg-white">
    <div class="container-fluid py-3" style="background-color: #e3f2fd">
      <h4><b>INSTRUCTION FOR EXAM</b></h4>
    </div>
  </div>
  <!-- Navbar -->
  <hr class="m-0" />
  <div class="py-3 text-center" style="background-color: #e3f2fd">
    <h3>
      NOTE : IN ORDER TO PARTICIPATE IN THE EXAM KINDLY CLEAR WEB BROWSER
      COOKIES.
    </h3>
  </div>

  <div class="py-4">
    <div class="container py-4 px-lg-8">
      <div
        class="md-ad leaderboard blue-gradient"
        data-text="Leaderboard"
      ></div>

      <h6 class="h3 lily-text mb-4">
        For Examination - login to your MPCED account and click on the Exam tab.
      </h6>
      <!-- <h6 class="h3 lily-text mb-4">
        Step-2: Click on the LOGIN section then select the SPECIAL PROGRAM LOGIN
        click on it.
      </h6>
      <h6 class="h3 lily-text mb-4">
        Step-3: Now use your LOGIN-ID and PASSWORD to login into your account.
      </h6> -->
      <!-- <h6 class="h3 lily-text mb-4">
        Step-4: After LOGIN click on the EXAM section,here you can select your
        language(HINDI,ENGLISH).
      </h6> -->

      <div class="row content-align-center">
        <div class="col-6">Exam Type</div>
        <div class="col-6">Objective</div>

        <!-- Force next columns to break to new line -->
        <div class="w-100"></div>

        <div class="col-6">Duration</div>
        <div class="col-6">90 minutes</div>

        <div class="col-6">Question</div>
        <div class="col-6">100</div>

        <div class="col-6">Total Marks</div>
        <div class="col-6">100</div>

        <div class="col-6">Passing Marks</div>
        <div class="col-6">40</div>
      </div>

      <h6 class="h3 lily-text mb-4">• No negative marking.</h6>
      <h6 class="h3 lily-text mb-4">
        • Candidates will not get more than three attempts to Qualify the EXAM.
      </h6>
      <h6 class="h3 lily-text mb-4">
        • The certification will be awarded by MPCON LIMITED
      </h6>
      <h6 class="h3 lily-text mb-4">
        • MPCON provide all the candidates practice question book which is
        related to Course Content of training program and Final exam question
        are also based on the practice book.
      </h6>
      <h6 class="h3 lily-text mb-4">
        • Student will not allowed to give exam after 30 minutes of scheduled
        time.
      </h6>
      <h6 class="h3 lily-text mb-4">
        • Note the duration of the exam and allocate your time accordingly.
      </h6>
      <h6 class="h3 lily-text mb-4">
        • Do not refresh the exam page otherwise exam will logout and student
        can't login again.
      </h6>
      <h6 class="h3 lily-text mb-4">
        • Do not switch browser tabs during the exam otherwise exam will be submitted and student
        can't login in exam again.
      </h6>
      <h6 class="h3 lily-text mb-4">
        • Do not use the Keyboard during the exam otherwise exam will be logout
        and student can't login again.
      </h6>
      <h6 class="h3 lily-text mb-4">
        • On click the exam button, the exam will start and the student will get
        90 minutes after scheduled time to complete the exam.
      </h6>
      <h6 class="h3 lily-text mb-4">
        • Student have to keep his Laptop charged or if he is using desktop then
        please to connect by UPS to avoid electricity problem during exam.
      </h6>
      <h6 class="h3 lily-text mb-4">
        • Student need good connectivity of internet connection to avoid website
        problem.
      </h6>
      <h6 class="h3 lily-text mb-4">
        • If system error or poor internet connection, or electricity failure
        occurrence during exam then exam will be log out student can't login
        again and your exam paper will be submitted.
      </h6>
    </div>
  </div>
</div>
<div class="p-5 text-center bg-light">

  <a class="btn btn-success"  routerLink='/exams/student-question-paper/{{exam_id}}'  role="button">Start Exam</a>
</div>
