.menu-list {
  // background-color: #2dce89 !important;
  // color: white;
  font-weight: 700;
  // border-radius: 20px;
  // -webkit-border-radius: 20px;
  // -moz-border-radius: 20px;
  // -ms-border-radius: 20px;
  // -o-border-radius: 20px;
}
.menu-list:hover {
  background-color: #2dce89 !important;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

// .img-bg {
//   height: 200px;
//   width: 1349px;
//   background-color: #8abbe6;
// }
