<main class="w-100 h-100 bg-white pb-4">
  <div class="container-fluid animate__animated animate__fadeInUp p-0">
    <div class="showcase-banner">
      <div class="">
        <div class="">
          <img
          src="/assets/img/cedmap.png" alt="CEDMAP"
            class="w-100"
            style="height: 200px"
          />
          <span class="position-fixed right-4 top-3 text-center">
            <h4>KNOWLEDGE PARTNER</h4>
            <img
              src="assets/img/logo.png"
              alt="cyberLaw_logo"
              style="height: 100px !important"
            />
          </span>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 col-12">
      <div class="row">
        <div class="col-md-3 col-12">
          <div class="card h-100">
            <div class="card-body px-0">
              <ul class="p-0">
                <li class="p-3 menu-list border-bottom list-unstyled">
                  <a routerLink="/home">Home</a>
                </li>
                <li class="p-3 menu-list border-bottom list-unstyled">
                  <a routerLink="/home">About</a>
                </li>
                <li class="p-3 menu-list border-bottom list-unstyled">
                  <a routerLink="/login">Verification</a>
                </li>
                <li class="p-3 menu-list border-bottom list-unstyled">
                  <a routerLink="/register/center-registration">Registration</a>
                </li>
                <li class="p-3 menu-list border-bottom list-unstyled">
                  <a routerLink="/login">Training</a>
                </li>
                <li class="p-3 menu-list border-bottom list-unstyled">
                  <a routerLink="/login">Internship</a>
                </li>
                <li class="p-3 menu-list border-bottom list-unstyled">
                  <a routerLink="/login">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-12">
          <section>
            <ngb-carousel>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <!-- <img [src]="images[0]" alt="Random first slide" /> -->
                  <img
                    src="assets/img/mpced2.jpeg"
                    alt="Random first slide"
                    class=""
                    style="object-fit: contain; height: 420px"
                  />
                </div>
                <!-- <div class="carousel-caption">
              <h3>First slide label</h3>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div> -->
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img
                    src="assets/img/slider4.jpg"
                    alt="Random first slide"
                    style="object-fit: contain; height: 420px"
                  />
                </div>
              </ng-template>
            </ngb-carousel>
          </section>
        </div>
      </div>

      <section class="mt-4">
        <div class="card">
          <div class="card-header text-success">
            <h4 class="text-success">
              लोकशिक्षण संचालनालय के अंतर्गत विध्यालयों में कार्यरत कंप्यूटर /
              डाटा एंट्री ऑपरेटर एवं अन्य आई टी कर्मियों को "साइबर सुरक्षा
              अनुपालन और शिष्टाचार पर ई-लर्निंग प्रशिक्षण कोर्स का पंजीयन
            </h4>
          </div>
          <div class="card-body">
            <a
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
              >Click here to register</a
            >
          </div>
        </div>
      </section>
      <section class="mt-4">
        <div class="card">
          <div class="card-header text-success">
            <h4 class="text-success">
              CERTIFICATE IN CYBER SECURITY & DIGITAL LITERACY (MPCED111)
            </h4>
          </div>
          <div class="card-body">
            <a
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
              >Click here to register</a
            >
          </div>
        </div>
      </section>
      <section class="mt-4">
        <div class="card">
          <div class="card-header text-success">
            <h4 class="text-success">
              CYBER SECURITY AWARENESS CAMPAIGN-2020<br />
              साइबर सुरक्षा जागरूकता अभियान- 2020
            </h4>
          </div>
          <div class="card-body">
            <a
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
            >
              APPROVED BY SCHOOL EDUCATION DEPARTMENT, MADHYA PRADESH</a
            >
          </div>
        </div>
      </section>
      <section class="mt-4">
        <div class="card">
          <div class="card-header text-success">
            <h4 class="text-success">STUDENT REGISTRATION LINK</h4>
          </div>
          <div class="card-body">
            <a
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
              >Click Here to Verify</a
            >
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-3 col-12">
      <div class="card bg-green mb-5">
        <div class="card-header bg-green">
          <h4 class="card-titl text-white">
            Cyber Security Compliance & Etiquettes Course Code-MPCEDE401S
          </h4>
        </div>
        <div class="card-body">
          <h5 class="card-text text-white">
            This Programme Will Introduce the technical threats, Cyber crimes,
            Banking frauds, Cyber security terms as well as information security
            management
          </h5>
        </div>
      </div>
      <div class="card bg-green mb-5">
        <div class="card-header bg-green">
          <h4 class="card-titl text-white">
            Cyber Security Compliance & Etiquettes Course Code-MPCEDE401S
          </h4>
        </div>
        <div class="card-body">
          <h5 class="card-text text-white">
            This Programme Will Introduce the technical threats, Cyber crimes,
            Banking frauds, Cyber security terms as well as information security
            management
          </h5>
        </div>
      </div>
      <div class="card bg-secondary shadow border-0" style="min-height: 417px">
        <div class="card-header text-center bg-blue">
          <h5 class="text-white">New Updates</h5>
        </div>
        <div class="card-body" style="overflow: scroll">
          <div>
            <!-- 12345678 -->
            <p
              class="animate__animated animate__fadeIn"
              *ngFor="let message of messages"
            >
              <a
                class="btn btn-link text-left px-2 position-relative text-capitalize text-gray-dark"
                href="{{
                  env.production
                    ? env.url
                    : 'https://mpced.cyberlawpioneers.org'
                }}/file/download/{{ message.file_path || 'no-image' }}"
                target="_blank"
              >
                <i class="fa fa-angle-double-right mx-2" aria-hidden="true"></i>
                {{ message?.message_description }}
                <span
                  class="animate__animated animate__fadeIn animate__infinite translate-middle badge bg-warning text-dark"
                >
                  New
                  <!-- <span class="visually-hidden">unread messages</span> -->
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <section class="mt-5 pt-5 container-fluid" style="background-color: #bee2fa">
    <div class="">
      <!-- <div class="col-md-6 col-12">
        <div class="text-center">
          <img
            class="text-center mx-auto"
            src="assets/img/MPCON_logo-preview.png"
            alt="cyberLaw_logo"
            style="height: 100px !important"
          />
          <p class="mt-5" style="font-weight: 600">
            Ground Floor, Rajiv Gandhi Bhawan-2, 35,<br />
            Shyamla Hills, Bhopal 462002<br />
            Web: www. https://mpconsultancy.org
          </p>
        </div>
      </div> -->
      <div class="text-center">
        <!-- <img src="assets/img/MPCON-landscape-large.jpeg" alt="mpcon_logo" class="w-100" style="height: 200px;"> -->
        <span class="text-center">
          <h4>KNOWLEDGE PARTNER</h4>
          <img
            class="text-center mx-auto"
            src="assets/img/logo.png"
            alt="cyberLaw_logo"
            style="height: 100px !important"
          />
        </span>
        <div class="text-center mt-5">
          <p style="font-weight: 600">
            Plot No. C-203, 3rd floor, Biside of hotel Arya palace,<br />
            MP Nagar Zone-II Bhopal(M.P.) 462011<br />
            Email: mpcedmpconsultancy.org<br />
            Mob: +91 8770303862
          </p>
        </div>
      </div>
    </div>
    <div class="container py-3">
      <div class="row">
        <div class="col text-left">
          Copyright © 2023 | All Rights Reserved Policy
        </div>
        <div class="col text-md-right">
          Design & Developed By
          <a href="http://innobimbinfotech.com" target="_blank"
            >Innobimb Infotech Pvt Ltd</a
          >
        </div>
      </div>
    </div>
  </section>
</footer>
