<!-- <footer class="footer" style="background-color: rgb(14, 14, 106);">
  <div class="primary-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="white-bg box-shadow">
            <a class="footer-logo text-black" href="index.html">
              <img src="../../../../assets/img/logo-home.png"
            /></a>

            <p class="mt-3">
              Cyber Law Pioneers (CLP) is into the business of cyber education,
              Cyber Law, IPR & Cyber security solutions, training, awareness and
              Techno-legal consultancy.We do IT Act, 2000Compliance for
              organizations and websites
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-sm-6">
              <h4 class="mb-4"><span class="text-theme2">C</span>ONTACT US</h4>
              <div class="footer-list">
                <ul class="list-unstyled">
                  <li><a href="#"> Phone: +91 8770303862, 9343649161, 9343649168</a></li>
                  <li>
                     <span>Email: cyberlawpioneers&#64;gmail.com</span>
                  </li>
                  <li>
                    <a href="#">Address: Plot No. C 203 3rd Floor Beside Hotel Arya Palace Near Sargam Talkies M.P. Nagar Zone 2 Bhopal Madhya Pradesh</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 mt-4 mt-sm-0">
              <h4 class="mb-4"><span class="text-theme2">S</span>ervices</h4>
              <div class="footer-list">
                <ul class="list-unstyled">
                  <li><a routerLink ="/services">Our Services</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Our Practices</a></li>
                  <li>
                    <a href="#">Location</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="mb-4"><span class="text-theme2">OUR</span> PRACTICES</h4>

          <li><a href="#"> Cyber Law Consultancy</a></li>
          <li><a href="#"> Training</a></li>
          
        </div>
      </div>
    </div>
  </div>
  <div class="secondary-footer">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <div class="copyright">
            Copyright ©{{ currentYear }} cyberlawpioneers.com | All Rights
            Reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer> -->
<footer class="footer" style="background-color: rgb(14, 14, 106); color: white">
  <div class="primary-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="bg-transparent shadow-none">
            <a class="footer-logo text-white" href="index.html">
              <img src="../../../../assets/img/logo-home.png" alt="Logo" />
            </a>
            <p class="mt-3" style="color: white">
              Cyber Law Pioneers (CLP)
              <!-- is into the business of cyber education,
              Cyber Law, IPR & Cyber security solutions, training, awareness, and
              Techno-legal consultancy. We do IT Act, 2000 Compliance for
              organizations and websites. -->
            </p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <!-- About us Section -->
            <div class="col-md-3">
              <h4 class="mb-4 text-white">
                <span class="text-theme2">A</span>bout us
              </h4>
              <ul class="list-unstyled m-0 p-0">
                <li class="mb-2"><a routerLink ="/about-us" class="text-white">About CLP</a></li>
                <li class="mb-2"><a routerLink ="/about-us" class="text-white">Our journey</a></li>
                <li class="mb-2"><a routerLink ="/about-us" class="text-white">Board of directors</a></li>
              </ul>
            </div>
            <!-- Links Section -->
            <div class="col-md-3">
              <h4 class="mb-4 text-white">
                <span class="text-theme2">L</span>inks
              </h4>
              <ul class="list-unstyled m-0 p-0">
                <li class="mb-2"><a href="https://www.youtube.com/channel/UCwzD29mLBiTEldlRYcqmCbQ" class="text-white">YouTube channel</a></li>
                <li class="mb-2"><a href="https://www.facebook.com/CyberLawPioneers?locale" class="text-white">Facebook</a></li>
                <li class="mb-2"><a href="https://www.instagram.com/cyber_cyberwing?igsh=MWNzczU2MWxxc20zOA==" class="text-white">Instagram</a></li>
                <li class="mb-2"><a href="https://in.linkedin.com/company/cyber-law-pioneers-ltd-" class="text-white">Linkedin</a></li>
                <li class="mb-2"><a href="#" class="text-white">Gallery</a></li>
              </ul>
            </div>
            <!-- Visit us Section -->
            <div class="col-md-3">
              <h4 class="mb-4 text-white">
                <span class="text-theme2">V</span>isit us
              </h4>
              <ul class="list-unstyled m-0 p-0">
                <li class="mb-2"><a routerLink ="/contact" class="text-white">Enquiry</a></li>
                <li class="mb-2"><a href="#" class="text-white">Privacy policy</a></li>
                <li class="mb-2"><a href="#" class="text-white">Terms and conditions</a></li>
              </ul>
            </div>
            <!-- Contact us Section -->
            <div class="col-md-3">
              <h4 class="mb-4 text-white">
                <span class="text-theme2">C</span>ontact us
              </h4>
              <ul class="list-unstyled m-0 p-0">
                <li class="mb-2"><a href="#" class="text-white">Phone: +91 8770303862</a></li>
                <li class="mb-2"><a href="#"class="text-white"> Email: cyberlawpioneers&#64;gmail.com</a></li>
                <li>
                  <a href="#" class="text-white"
                    >Address: Plot No. C 203 3rd Floor Beside Hotel Arya Palace Near
                    Sargam Talkies M.P. Nagar Zone 2 Bhopal Madhya Pradesh</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="secondary-footer">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <div class="copyright text-white">
            Copyright ©{{ currentYear }} cyberlawpioneers.com | All Rights
            Reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
