<div>
  <app-landing-header></app-landing-header>
  <!-- page content  start -->
  <section class="about-section">
    <div class="overlay"></div>
    <img
      class="about-banner"
      src="../../../../assets/img/j.jpg"
      alt="Banner 2"
    />
    <!-- <span class="about-text">Our Programs</span> -->
  </section>

  <!-- <section>
    <div class="container-fluid p-5">
      <div class="row align-items-center text-justify">
        <div class="col-lg-12 col-12 mt-6 mt-lg-0">
          <div class="section-title">
            <h6>1) MPCON CYBER EXCELLENCE DIVISION</h6>

            <p class="font-w-6">
              The MPCON CYBER EXCELLENCE DIVISION has established by Cyber Law
              Pioneers Pvt. Ltd. in association with MPCON Ltd. for the purpose
              of cyber education and training. MPCON Cyber Excellence Division
              has a winning combination of State of the art infrastructure,
              highly-qualified faculty combined with a unique academic delivery
              of domain knowledge, career advancement and employability skills.
              MPCON Cyber Excellence Division also has a large contingent of
              respected professionals as visiting faculty in the area of Cyber
              Security and Cyber Ethics. .
            </p>
            <p>
              We engage the government, industry and the general public on cyber
              security and privacy issues, and transfer results into deployable
              platforms. Franchisee Centers providing various courses on cyber
              security, Cyber Ethics, Cyber Crime Prevention & Solutions are run
              under the MPCON Cyber Excellence Division. The MPCON Cyber
              Excellence Division will identify and address the grand challenges
              in cyber security and privacy. We will educate and train students
              and professionals through Certificate and life-long learning
              programs. We will engage the government, industry and the general
              public on cyber security and privacy issues, and transfer results
              into deployable technologies. For more details:<a
                href="https://mpced.mpconsultancy.org/Default.aspx"
              >
                https://mpced.mpconsultancy.org/Default.aspx</a
              >
            </p>
            <h6>2) CYBER SECURITY COMPLIANCE AND ETIQUETTES</h6>

            <p class="font-w-6">
              Currently Information and Communication Technologies (ICT) has
              brought a new trend in the exchange of communication and
              information through the Internet. Household users, students,
              business people are all using computer internet. However, without
              compromising the confidentiality of information, there is a need
              to use all the facilities provided by the ICT in a safe manner to
              maintain the confidentiality of information and create a habitat
              in a conductive environment. .
            </p>
            <p>
              Incidents of cyber crime, cyber crime, cyber stalk, social
              networking site crime, online job scams, e-banking scams etc. are
              coming to the force, which are done intentionally or unknowingly.
              Punishment for all crimes are equal.
            </p>
            <p>
              The objective of 'Cyber Security Compliance and Etiquettes' is to
              provide cyber education to the people as per requirements and
              especially to make use of ICT, e-commerce, e-Governance e-banking
              services with information about cyber crime and Also have the
              awareness regarding cyber law and information technology act. This
              program has been created with the objective of giving information
              on cyber security, cyber security and cyber law to more and more
              employees and students. All the government programs are using
              computers and internet and 'computer operators' or others are
              working for computer work. Most of the departments have employees
              which are either belongs to contract basis or brought up by a
              manpower body (OUTSOURCING MODEL). They are allowed to work
              directly in the government resource system by selecting. The
              OUTSOURCE EMPLOYEE THROUGH MANPOWER AGENCY of this category is not
              provided with any information on IT related to electronic computer
              resources, e-mail policy, cyber security etc. and many times cyber
              crime incidents in office like Unauthorized use of a computer or
              online account (HACKING), data theft, cyber thrashing, use of
              computer internet, or looking at online porn sites. It is often
              seen in such an event that sometimes cyber crime is done
              intentionally, sometimes people become cyber crime victims due to
              not being inadvertently awake.
            </p>
            <p>
              Therefore, on cyber condition of computer operators business IT
              staff, they will be able to use the security facility of IT
              facility properly and will also make other employees aware of
              cyber issues.
            </p>

            <h6>Who should attend?</h6>
            <p>
              IT PERSONNEL (PROFESSIONALS, GOVT. AND CORPORATE EMPLOYEES),
              Departmental IT personnel, such as computer operators, software
              developers, network engineers or accountants, etc.,
            </p>

            <h6>3) ‘CYBER LAW RELATING TO E-BANKING’</h6>
            <p>
              This two days program will introduce the Bankers to the technical
              threats, cyber attack, frauds, and cyber laws related to
              electronic banking. The Cyber law spells out numerous issues for
              the banking and corporate sector which need to be taken most
              seriously for making e-banking a success in India. At present the
              banking system faces different kind of Cyber attacks on computers
              and technology.
            </p>
            <p>
              Hence the entire employees and Banking System be aware about these
              attacks, frauds and technical environment. In many situations
              banks need to face and respond to these attacks and cyber crime in
              court. The entire workshop is structured around a case study of
              frauds and threats. For more details: call to administration
              7354133333…
            </p>
            <h6>Who should attend?</h6>
            <p>> Bank officers and professional.</p>
            <p>> Accounting Professionals.</p>

            <h6>
              4) ‘CYBER CRIME INVESTIGATION & APPLICABLE LAWS’ FOR POLICE
              OFFICER AND LAW PROFESSIONAL
            </h6>
            <p>
              Presently, cyber crime has become a Worldwide problem in which
              every section of the society is affected. Incidents of cyber crime
              and online fraud occurring in the women are increasing
              continuously, common man and police have to face many difficulties
              in understanding and investigating cyber crime. Cyber criminals
              are technologically strong and the methods and tools of cyber
              crime are high tech. Apart from this, there are also many
              challenges in the submission of electronic evidence in the court
              room and according to the rules.
            </p>
            <p>
              Therefore, investigating cybercrime and catching criminals is
              becoming a challenging task, one of the reasons is lack of
              awareness about cyber crime, technology facilities and equipment
              currently being used.
            </p>
            <p>
              In order to tackle such high-tech crime and successful
              eavesdropping, police officers are required to give important
              topics such as "Information Industry Act, 2000, Cybercrime, Cyber
              crime Elevation and Electronic Science and Data in Court". Why is
              the need of training at district level? Incidents of cyber crime
              banking fraud are coming out from every part of the country, but
              except for the district, Tahsil and village level due to absence
              of awareness inpolice officer, the correct reporting of cyber
              crime cannot be investigated and sometimes even not get registered
              at all. Therefore, due to the following reasons, there Is a need
              of training at district level.
            </p>
            <h6>Who should attend?</h6>
            <p>> Police officer, Law Professionals</p>
            <h6>
              5) ‘PREVENTION OF CYBER CRIMES & INFORMATION SECURITY COMPLIANCE’
              FOR MSMEs.
            </h6>
            <p>
              This is a two days program will introduce the industrials the
              technical threats, cyber crimes, banking frauds, cyber security
              terms as well as Information security management and data
              protection techniques. The Cyber crimes and online frauds spells
              out numerous issues for the banking and corporate sector which
              need to be taken most seriously for making e-banking and data
              security a success in Industry. At present the MSMEs and other
              industries faces different kind of Cyber attacks on computers,
              online net banking frauds and data theft issues. Hence the entire
              employees and higher authorities be aware about these attacks,
              frauds and technical environment. In many situations industry need
              to face and respond to these attacks and cyber crime in court. The
              entire workshop is structured around a case study of frauds and
              threats.
            </p>
            <h2>For more details: call to administration 7354133333…</h2>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <div class="page-content">
    <section class="mt-n10 p-0 service-sec">
      <div class="px-5">
        <div class="white-bg py-3">
          <!-- <a class="hd2" href="#">
            <span>Our Practices</span>
          </a> -->
        </div>
        <div class="row">
          <div class="col">
            <div class="white-bg">
              <ngb-carousel
                [interval]="5000"
                [wrap]="true"
                [keyboard]="true"
                [pauseOnHover]="true"
                class="carousel-show-four"
              >
                <ng-template ngbSlide>
                  <!-- <div class="item">
                    <div class="row">
                      <div class="col-md" *ngFor="let item of items">
                        <a [routerLink]="['/programs', item.title]">
                          <div class="featured-item">
                            <div class="card card-practice">
                              <div class="card-body text-center">
                                <img
                                  class="practice-icon"
                                  [src]="item.icon"
                                  alt=""
                                />
                                <div class="featured-title text-center">
                                  <h4>{{ item.title }}</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div> -->
                  <div class="container text-center">
                    <h2 class="display-5 fw-bold ">Cyber security programs</h2>
                    <!-- <hr class="mx-auto" style="width: 150px; border: 2px solid #007bff;" /> -->
                  </div>
                  <div class="item mt-5">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                      <div class="col" *ngFor="let item of items">
                        <a [routerLink]="['/programs', item.title]" class="text-decoration-none">
                          <div class="card shadow-sm h-100">
                            <img
                              class="card-img-top practice-icon mx-auto d-block mt-3"
                              [src]="item.icon"
                              alt="{{ item.title }} icon"
                              style="width: 50px; height: 50px;" 
                            />
                            <div class="card-body text-center">
                              <h5 class="card-title">{{ item.title }}</h5>
                            </div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                  
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <app-landing-footer></app-landing-footer>
</div>
