<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<!-- <div class="btn-group" role="group" aria-label="Basic example">
  <button routerLinkActive="active" [routerLink]="['/one']" type="button" class="btn btn-secondary">Cource</button>
  <button routerLinkActive="active" [routerLink]="['/user-profile']" type="button" class="btn btn-secondary">Edit profile</button>
  <button routerLinkActive="active" [routerLink]="['/pyment']" type="button" class="btn btn-secondary">Pyment</button>
</div> -->

<!-- <div class="header mt--7 py-7 py-lg-8">

  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div> -->
<!-- Page content -->
<div class="container mt--7 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent ">

          <div class="container">
            <div class="header-body text-center">
              <div class="row justify-content-center">
                <div class="col-lg-5 col-md-6">
                  <div class="">

                    <!-- <img class="" src="assets/img/brand/logo.png" alt="hhh"> -->
                    <img class="w-75" src="assets/img/brand/Untitled-removebg-preview.png" alt="hhh">
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-body ">

          <!-- <form role="form">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Name" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password">
              </div>
            </div>
            <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4">Create account</button>
            </div>
          </form> -->
          <div class="row justify-content-center">
            <h1>SPECIAL PROGRAM REGISTRATION FORM</h1>
          </div>


          <form class="p-3 mt-3">
            <div class="row">
              <div class="col-lg-6">
                <select class="form-field w-100"  >
                  <!-- <select [(ngModel)]="registerUserData.cource_code" name="cource_code" class="form-field w-100"  > -->
                  <option value="orange">Cyber security compiliance & Etiquettes Cource Code- MPCEDE47</option>
                  <option value="apple">Cyber security compiliance & Etiquettes Cource Code- MPCEDE17</option>
                  <option value="banana">Cyber security compiliance & Etiquettes Cource Code- MPCEDE27</option>
                  <option value="kiwi">Cyber security compiliance & Etiquettes Cource Code- MPCEDE47</option>
                </select>
              </div>
              <div class="col-lg-6">

              </div>

            </div>
            <hr>
            <h2>Department/Org. Name</h2>
            <div class="row mt-4">
              <div class="col-lg-6">
                <select  class="form-field w-100"  >
                  <!-- <select [(ngModel)]="registerUserData.School" name="School" class="form-field w-100"  > -->
                  <option value="apple">School Education Department MP स्कूल शिक्षा विभाग</option>
                  <option value="banana">Banana</option>
                  <option value="orange">Orange</option>
                  <option value="kiwi">Kiwi</option>
                </select>
              </div>
              <div class="col-lg-6">
                <select  class="form-field w-100"  >
                  <!-- <select [(ngModel)]="registerUserData.company" name="company" class="form-field w-100"  > -->
                  <option value="orange">Public LTD. Company</option>
                  <option value="apple">Apple</option>
                  <option value="banana">Banana</option>
                  <option value="kiwi">Kiwi</option>
                </select>
              </div>

            </div>

            <div class="row mt-2">
              <div class="col-lg-6">
                <div class="form-field d-flex align-items-center">
                  <!-- <span class="far fa-user"></span> -->
                  <i class="fas fa-home"></i>

                  <!-- <input [(ngModel)]="registerUserData.office" name="office" type="text" class="form-control"  placeholder="कार्यालय/स्कूल/Office"> -->
                  <input  type="text" class="form-control"  placeholder="कार्यालय/स्कूल/Office">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-field d-flex align-items-center">
                  <span class="fas fa-key"></span>

                  <!-- <input [(ngModel)]="registerUserData.block" name="block" type="text" class="form-control"  placeholder="तहसील/Block"> -->
                  <input  type="text" class="form-control"  placeholder="तहसील/Block">
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-lg-6">
                <div class="form-field d-flex align-items-center">
                  <i class="fas fa-home"></i>

                  <!-- <input [(ngModel)]="registerUserData.district" name="district" type="text" class="form-control"  placeholder="जिला/Disctrict"> -->
                  <input type="text" class="form-control"  placeholder="जिला/Disctrict">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-field d-flex align-items-center">
                  <span class="fas fa-key"></span>

                  <!-- <input [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control"  placeholder="पिन कोड/PIN Code"> -->
                  <input type="text" class="form-control"  placeholder="पिन कोड/PIN Code">
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-lg-6">
                <!-- <select [(ngModel)]="registerUserData.state" name="state" class="form-field w-100"  > -->
                <select  class="form-field w-100"  >
                  <option value="orange">Madhya Pradesh</option>
                  <option value="apple">Apple</option>
                  <option value="banana">Banana</option>
                  <option value="kiwi">Kiwi</option>
                </select>
              </div>
              <div class="col-lg-6">

              </div>

            </div>
            <hr>
            <h2>Participant Details</h2>

            <div class="row mt-4">
              <div class="col-lg-6">
                <div class="form-field d-flex align-items-center">
                  <span class="far fa-user"></span>

                  <!-- <input [(ngModel)]="registerUserData.user_name" name="user_name" type="text" class="form-control"  placeholder="Participant Name/प्रतिभागी का नाम"> -->
                  <input  type="text" class="form-control"  placeholder="Participant Name/प्रतिभागी का नाम">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-field d-flex align-items-center">
                  <span class="fas fa-key"></span>

                  <!-- <input [(ngModel)]="registerUserData.designation" name="designation" type="text" class="form-control" placeholder="Designation/पद"> -->
                  <input  type="text" class="form-control" placeholder="Designation/पद">
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-lg-6">
                <div class="form-field d-flex align-items-center">
                  <span class="far fa-user"></span>

                  <!-- <input [(ngModel)]="registerUserData.mobile" name="mobile" type="text" class="form-control"  placeholder="Mobile No/मोबाइल नंबर"> -->
                  <input  type="text" class="form-control"  placeholder="Mobile No/मोबाइल नंबर">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-field d-flex align-items-center">
                  <span class="fas fa-key"></span>

                  <!-- <input [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control"  placeholder="Email Id/ईमेल"> -->
                  <input  type="text" class="form-control"  placeholder="Email Id/ईमेल">
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-lg-6">
                <div class="form-field d-flex align-items-center">
                  <span class="far fa-user"></span>

                  <!-- <input [(ngModel)]="registerUserData.whatsapp" name="whatsapp" type="text" class="form-control" -->
                  <input  type="text" class="form-control"
                    placeholder="Whatsapp Mobile Number/ व्हाट्सएप मोबाईल नंबर">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-field d-flex align-items-center">
                  <span class="far fa-user"></span>

                  <!-- <input [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control" -->
                  <input  type="password" class="form-control"
                    placeholder="Password">
                </div>

              </div>
            </div>

            <div class="row mt-4">
              <div class="col-lg-6">
                <!-- <input [(ngModel)]="registerUserData.image" name="image" type="file"  > -->
                <input  type="file"  >
                <span>फोटो अपलोड करें/(Upload Profile Image) </span>
              </div>
              <div class="col-lg-6">
                <!-- <input [(ngModel)]="registerUserData.identity" name="identity" type="file"  > -->
                <input  type="file"  >
                <span>पहचान पत्र अपलोड करें/(Upload Copy Of Identity Card) (Optional)</span>

              </div>
            </div>
            <div class="row justify-content-start">
              <div class="mt-5">
                <br>
                <a href="#">
                  <input  type="checkbox"> मैं घोषणा करता/करती हूं कि मेरे द्वारा आवेदन पत्र में दी गई उपरोक्त
                  जानकारी सही है तथा मैं निम्नलिखित सभी नियम का पालन करूँगा/करुँगी| यदि मेरे द्वारा दी कोई भी जानकारी
                  असत्य पायी जाती हें या नियमो का पालन नहीं होता है, तो मेरा आवेदन निरस्त कर दिया जाये एवं किसी भी प्रकार
                  की हानि का समस्त उत्तरदायित्व मेरा होगा।</a>
              </div>
            </div>






            <div class="row justify-content-end">
              <button routerLinkActive="active" [routerLink]="['/user-profile']"  type="submit" class="btn btn-primary mt-5">Submit</button>
            </div>



            <!-- <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div> -->

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
