<div class="submit">
  <div class="container mt-7 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent">
            <h1 class="text-red">
              Your Exam Has Been Successfully Submitted!!<br>
              Your Result will be Announced within next 2 Working days!!
            </h1>
            <br />
            <!-- <h2>
              It does not have any impact on the actual exams which will be
              conducted in future.
            </h2> -->
          </div>
          <div class="card-body">
            <hr />
            <div class="row">
              <div class="col text-left">
                <button
                  class="btn btn-secondary"

                  (click)="goBackToHome()"
                >
                  <i class="fa fa-angle-left" aria-hidden="true"></i> Go Back To Home
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
