<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <div class="">
            <h1 class="card-title">Risk Assessment List </h1>
            <div class="row my-4">
              <!-- <button [routerLink]="['/batch/batch-create']" routerLinkActive="router-link-active"
              class="btn btn-success ">+ New Batch</button>  -->
              <div class="col">
                <h2 class="">Batch name : {{ this.BatchList?.batch_name }}</h2>


              </div>

              <!-- <div class="col text-right justify-content-end">
              <span class=" mx-3" *ngIf="selectedStudent.length"><b>{{selectedStudent.length}}</b> Students Selected</span>
              <div class="btn btn-success btn-sm text-right" *ngIf="selectedStudent.length" (click)="allotToBatch()">Allot Students to the Batch</div>
            </div> -->
            </div>
            <div class="row">
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr class="text-center">
                      <th scope="col"></th>
                      <th scope="col">Name</th>
                      <th scope="col"> Assessment Type</th>
                      <!-- <th scope="col">Registration date</th>
                      <th scope="col">Form Submitted</th>
                      <th scope="col">Verification status</th> -->

                      <th scope="col">Assessment Status</th>
                      <th scope="col-4">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center" *ngFor="let item of userList; let i = index">
                      <!-- <tr *ngFor="let item of batchList"> -->
                      <!-- <td>{{item.batch_name}}</td> -->
                      <!-- <td> <button [routerLink]="['/batch/batch-allotment']" routerLinkActive="router-link-active"
                        class="btn btn-success ">Batch Allotment</button>
                    </td> -->

                      <!-- <td>
                      <input type="checkbox" id="myCheckbox" name="stdId" placeholder="StudentId" (change)="selectStud(item._id)">
                    </td> -->
                      <td>{{i+1}}</td>
                      <td class="col-3">{{ item.full_name }}</td>
                      <!-- <td class="col-3">{{ item.created_at | date : "short" }}</td>
                      <td class="col-3">{{ item.formStatus ? "Yes" : "No" }} </td>
                      <td class="col-3">
                        {{ item.is_profileVerified ? "Yes" : "No" }}
                      </td> -->
                      <td>
                        <a *ngIf="item.auditType" class="badge badge-pill badge-success"> {{item.auditType}}</a>
                      </td>
                      <td
                        [ngClass]="{'text-success': item.auditSubmit, 'text-danger': !item.auditSubmit, 'font-weight-bold': true} ">
                        {{item.auditSubmit ? 'Submitted':'Not Submitted Yet'}}</td>
                      <td class="text-center">
                        <!-- <a *ngIf="item.auditType=='Assessor'" class="badge badge-pill badge-success"> Assessor</a> -->
                        <a class="btn btn-warning btn-sm" *ngIf="item.auditSubmit && item.reportStatus!='created'"
                          routerLink="/audit/individual-answerSheet/{{ item._id }}/{{examId}}">
                          Evaluate Assessment
                        </a>
                        <span class="text-success" *ngIf="item.reportStatus == 'created'">
                          Assessment Evaluated
                        </span>
                        <!-- <a class="btn btn-warning btn-sm" *ngIf="item.auditSubmit"
                        routerLink="/audit/individual-answerSheet/{{ item._id }}/{{examId}}">
                        Evaluate Assessment
                      </a> -->
                        <!-- {{item |json}} -->
                        <a *ngIf="item?.reportStatus " class="btn btn-sm mx-4" target="_blank"
                          href="{{env.url}}/file/download/{{item?.report}}"> <i class="fas fa-file-download    "></i>
                          Assessment Report </a>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
