<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">


        </div>
    </div>
</div>


<div class="container-fluid mt--7 ">
    <div class="row">
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <div class="row">
                        <h3 class="card-title col">Institute Center</h3>
                        <div class="col-2 ">
                            <span class="d-flex">

                                <a [routerLink]="['/center/center-create']" class=" btn btn-success btn-sm ">+ Add
                                    New</a>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="card-body ">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush text-center">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Center Name</th>
                                    <th scope="col">Center Code</th>
                                    <th scope="col">Company Name</th>
                                    <th scope="col">Institute Head Name</th>
                                    <th scope="col">Mobile Number</th>
                                    <th scope="col">Course Type</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let center of centerList">

                                    <td>
                                        {{center.center_name}}
                                    </td>
                                    <td>
                                        {{center.center_code}}
                                    </td>
                                    <td>
                                        {{center.company_name}}
                                    </td>
                                    <td>
                                        {{center.head_name}}
                                    </td>
                                    <td>
                                        {{center.mobile}}
                                    </td>
                                    <td>
                                        {{center.course_type}}
                                    </td>
                                    <td>
                                        <a class="mx-3 btn btn-sm btn-warning"
                                            routerLink='/center/center-update/{{center._id}}'><i
                                                class="fas fa-edit"></i> </a>
                                    </td>




                                </tr>

                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>