<div class="header pt-8 pt-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt-2 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="container mb-4">
          <div class="header-bod text-center">
            <div class="row justify-content-center">
              <!-- <div class="col-12"> -->
              <div class="logo w-100">
                <img
                  class=""
                  src="/assets/img/cedmap.png" alt="CEDMAP"
                  height="85"
                  style="width: 100%"
                />
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-3">
          <form (ngSubmit)="loginSubmit(form)" #form="ngForm">
            <h2 class="text-center">Admin Login</h2>
            <div class="row mt-5">
              <div class="col">
                <div class="form-field d-flex align-items-center mt-2">
                  <span class="fa fa-globe" aria-hidden="true"></span>

                  <input
                    ngModel
                    name="authid"
                    type="text"
                    class="form-control"
                    placeholder="Email"
                  />
                </div>

                <div class="form-field d-flex align-items-center mt-2">
                  <span class="fas fa-key"></span>

                  <input
                    ngModel
                    name="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                  />
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <button type="submit" class="btn btn-primary mt-5">Submit</button>
            </div>

            <!-- <hr>

            <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
            <div class="text-center">
              <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
                <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
                <span class="btn-inner--text">Github</span>
              </a>
              <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
                <span class="btn-inner--text">Google</span>
              </a>
            </div> -->
          </form>
        </div>
      </div>
      <!-- <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-light"><small>Forgot password?</small></a>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:void(0)" class="text-light"><small>Create new account</small></a>
        </div>
      </div> -->
    </div>
  </div>
</div>
