<div class="header pt-8 pt-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<div class="container mt--7">
  <div class="row justify-content-center py-5">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="container mb-4">
          <div class="header-bod text-center">
            <div class="row justify-content-center">
              <!-- <div class="col-12"> -->
              <div class="logo w-100">
                <img
                  class=""
                  src="/assets/img/cedmap.png" alt="CEDMAP"
                  height="100"
                  style="width: 100%"
                />
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-3">
          <h2 class="text-center">Forget Password</h2>
          <div *ngIf="!verifyDetails">
            <form (ngSubmit)="detailSubmit(form)" #form="ngForm">
              <div class="row mt-5">
                <div class="col">
                  <div class="form-field d-flex align-items-center mt-2">
                    <input
                      ngModel
                      name="mobile"
                      type="number"
                      class="form-control"
                      placeholder="Enter Register Mobile"
                    />
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary mt-5">
                  Verify
                </button>
              </div>
            </form>
          </div>
          <div *ngIf="verifyDetails && !otpVerified">
            <form (ngSubmit)="verifyOtp(form)" #form="ngForm">
              <div class="row mt-3">
                <div class="col">
                  <div class="form-field d-flex align-items-center mt-2">
                    <label for="mobile"
                      >Registerd Mobile: <b>{{ user.mobile }}</b></label
                    >
                    <!-- <input disabled [(ngModel)]="" name="mobile" type="number"  class="form-control"
                      placeholder="Enter Register Mobile"> -->
                  </div>
                  <div class="form-field d-flex align-items-center mt-2">
                    <label
                      >Enter OTP
                      <span class="badge"
                        ><small>Please enter 6 digit OTP</small></span
                      ></label
                    >
                    <input
                      ngModel
                      name="otp"
                      type="email"
                      class="form-control"
                      placeholder="Enter OTP"
                    />
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary mt-5">
                  Verify OTP
                </button>
              </div>
            </form>
          </div>
          <div *ngIf="verifyDetails && otpVerified">
            <form (ngSubmit)="passwordSubmit(form)" #form="ngForm">
              <div class="row mt-5">
                <div class="col">
                  <div class="form-field d-flex align-items-center mt-2">
                    <label
                      >Registered Email: <b>{{ userDetail.email }}</b></label
                    >
                  </div>
                  <div class="form-field d-flex align-items-center mt-2">
                    <label>
                      Registered Mobile: <b>{{ userDetail.mobile }}</b></label
                    >
                  </div>
                  <div class="form-field d-flex align-items-center mt-2">
                    <input
                      ngModel
                      name="password"
                      type="password"
                      class="form-control"
                      placeholder="New Password"
                    />
                  </div>
                  <div class="form-field d-flex align-items-center mt-2">
                    <input
                      ngModel
                      name="cnf_password"
                      type="password"
                      class="form-control"
                      placeholder="Confirm Password"
                    />
                  </div>
                </div>
              </div>

              <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary mt-5">
                  Submit
                </button>
              </div>

              <!-- <hr>

    <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
    <div class="text-center">
      <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
        <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
        <span class="btn-inner--text">Github</span>
      </a>
      <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
        <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
        <span class="btn-inner--text">Google</span>
      </a>
    </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
