<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card h-100">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h3 class="card-title m-0">Doubt/Query View</h3>
            </div>
            <!-- <div class="col-2 d-flex">
                <a
                  [routerLink]="['/audit/audit-question-add']"
                  routerLinkActive="router-link-active"
                  class="btn btn-success btn-sm"
                  >+ New Query/Doubt</a
                >
              </div> -->
          </div>
        </div>
        <div class="card-body">
          <!-- <hr class="mb-2" /> -->
          <!-- <div class="container" *ngIf="selectedQuestion">
            <div class="card my-4">
              <div class="card-body">
                <span>Question Category:</span>
                <br />
                {{ selectedQuestion }}
              </div>
            </div>
            <div class="card my-4">
              <div class="card-body">
                <span> Your Asked Question:</span>
                <br />
                {{ selectedQuestion }}
              </div>
            </div>
            <div class="card my-4">
              <div class="card-body">
                <span> Reply:</span>
                <br />
                {{ selectedQuestion }}
              </div>
            </div>
          </div> -->
          <div class="card">
            <div class="card-body">
              <h3>{{ queryData.category.title }}</h3>
              <div class="card-body">
                <p [innerHTML]="queryData?.ques?.question"></p>
              </div>
            </div>
          </div>
          <div class="card my-2">
            <div class="card-body">
              <h3>Doubt/Query:</h3>
              <div class="card-body">
                <p>{{ queryData?.applicant_query }}</p>
              </div>
            </div>
          </div>
          <div class="card my-2" *ngIf="queryData.reply">
            <div class="card-body">
              <h3>Reply:</h3>
              <div class="card-body">
                <p [innerHTML]="queryData.reply"></p>
              </div>
              <div class="card-body">
                <p *ngIf="queryData.reply_docs">
                  <a class="btn btn-sm btn-primary" href="{{ env.url }}/file/download/{{ queryData.reply_docs }}"
                    target="_blank">View Attachment</a>
                </p>

              </div>
            </div>
          </div>
          <div class="card my-2" *ngIf="!queryData.reply && user.role=='admin'">
            <form (ngSubmit)="onSubmit(form)" #form="ngForm">
              <div class="card-body">
                <div class="my-4">
                  <h4>Reply:</h4>
                  <ckeditor ngModel name="reply" required></ckeditor>

                </div>
                <div class="form-group align-items-center my-4">
                  <h3>Attach File </h3>
                  <input ngModel name="reply_docs" type="file" class="form-control" placeholder="Upload PDF File "
                    (change)="uploadpdf($event)">
                  <small id="Pdf_link_code" class="form-text text-muted">Upload File</small>
                </div>
                <button type="submit" class="btn btn-success" >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
